body{
    margin: 0;
    background-color: rgb(250, 250, 250);
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 2em;
}

#app .form{
    width: 400px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;
    box-shadow: rgb(190, 190, 190) 1px 1px 100px;
}

#app .button{
    margin: 0 1em;
}

#app hr{
     border-top: 0.1rem solid rgb(225, 225, 225);
}

#app .vr {
    border-left: 0.2rem solid rgb(225, 225, 225);
}
/******************************/
/*********** HEADER ***********/
/******************************/
#nav{
    display: flex;
    height: 4.5em;
    width: 80vw;
    font-size: 1em;
    padding: 1em;
    margin: 0 auto 50px auto;
    border-radius: 0 0 10px 10px;
    background-color: white;
    box-shadow: rgb(200, 200, 200) 1px 1px 20px;
}
#nav>div{
    padding: 0 1em;
    line-height: 2.5em;
}
#logo > img{
    height: 3.5em;
}
#logout{
    margin-left: auto;
}
/************************************/
/*********** NO CONNEXION ***********/
/************************************/
#connexion h2, #inscription h2{
    margin-top: 20vh;
    text-align: center;
}
 /******************************/
/*********** MEMBRES ***********/
/*******************************/
#box-membre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    box-sizing: inherit;
}
#box-membre .vr{
    height: 5vh;
    margin: auto 0;
}
#membre .foreach-membre .row{
    justify-content: space-around;
    margin-left: 0.5vw;
    width: 100%;
}
#membre .column{
    flex: initial;
    width: initial;
}
#membre .foreach-membre{
    width: 31vw;
    margin: 1em 0;
}
/************************************/
/*********** CONVERSATION ***********/
/************************************/
 #conversation .column-20, #conversation .column{
     margin-bottom: initial;
 }
 #conversation .row{
     width: 55vw;
     padding: 1em;
     margin: 3em 0;
     border-radius: 10px;
     box-shadow: rgb(225, 225, 225) 1px 1px 20px;
 }
 #conversation .column-20{
     text-align: end;
 }
 #conversation hr{
    margin: 0;
    margin-right: 80%;
 }
 #conversation p{
     font-size: 0.9em;
     font-style: italic;
     font-weight: 300;
 }
