body{
    margin: 0;
    background-color: rgb(250, 250, 250);
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 2em;
}

#app .form{
    width: 400px;
    margin: 0 auto;
    padding: 2%;
    border-radius: 10px;
    box-shadow: rgb(190, 190, 190) 1px 1px 100px;
}

#app .button{
    margin: 0 1em;
}

#app hr{
     border-top: 0.1rem solid rgb(225, 225, 225);
}

#app .vr {
    border-left: 0.2rem solid rgb(225, 225, 225);
}
.button-clear{
    padding: 1Opx;
    margin-right: 1em;
    border-color:  #d1231e !important;
    border: 1px solid;
}
textarea{
    resize : both;
    min-width : 100%;
    max-width : 0;
}
/******************************/
/*********** HEADER ***********/
/******************************/
#nav{
    display: flex;
    height: 4.5em;
    width: 80vw;
    font-size: 1em;
    padding: 1em;
    margin: 0 auto 50px auto;
    border-radius: 0 0 10px 10px;
    background-color: white;
    box-shadow: rgb(200, 200, 200) 1px 1px 20px;
}
#nav>div{
    padding: 0 1em;
    line-height: 2.5em;
}
#logo > img{
    height: 3.5em;
}
#nav-right{
    display: flex;
    margin-left: auto;
}
/************************************/
/*********** NO CONNEXION ***********/
/************************************/
#connexion h2, #inscription h2{
    margin-top: 20vh;
    text-align: center;
}
 /******************************/
/*********** MEMBRES ***********/
/*******************************/
#box-membre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    box-sizing: inherit;
}
#box-membre .vr{
    height: 8vh;
    margin: auto 0;
}
#membre .foreach-membre .row{
    justify-content: space-between;
    margin-left: 0.5vw;
    width: 100%;
}
#membre .colmun{
    flex: initial;
    width: 100%;
    overflow: auto;
    padding-left: 1em;
}
#membre .foreach-membre{
    width: 30vw;
    margin: 1em 0.5em;
}
#membre p{
    margin: 0;
}
 /******************************/
/*********** PROFIL ***********/
/*******************************/
#profil h3{
    margin-bottom: 0;
}
#profil span{
    font-size: 0.8em;
    font-style: italic;
    font-weight: 200;
}
/************************************/
/*********** CONVERSATION ***********/
/************************************/
 #conversation .column-20, #conversation .column{
     margin-bottom: initial;
 }
 #conversation .row{
     width: 55vw;
     padding: 1em;
     margin: 3em 0;
     border-radius: 10px;
     box-shadow: rgb(225, 225, 225) 1px 1px 20px;
 }
 #conversation .column-20{
     text-align: end;
 }
 #conversation hr{
    margin: 0 80% 0.5em 0;
 }
 #conversation p{
     font-size: 0.9em;
     font-style: italic;
     font-weight: 300;
 }
/*****************************/
/*********** TCHAT ***********/
/*****************************/
#tchat h3{
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
#tchat h4{
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
}
#tchat .form{
    width: 54vw;
    margin: 3em 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}
.message{
    background-color: white;
    width: 55vw;
    margin: 1.5em 0;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: rgb(225, 225, 225) 1px 1px 20px;
}
.message header .membre{
    font-size: 1.2em;
}
.message .content{
    padding: 0 1em;
    margin-bottom: 1em;
}
.message .content time{
    font-size: 0.7em;
    font-style: italic;
    font-weight: 200;
}
.message button{
    font-size: 0.5em;
}